.container {
  width: 100%;
  height: auto;
}
.heading {
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  margin: 20px;
  color: #333333;
}
.tableContainer {
  width: 101%;
  /* margin: 20px auto; */
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -10;
 
}

.loader {
  margin: auto;
  width: 20px;
  height: 20px;
  border: 2px solid #212121;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.exipred {
  text-align: center;
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Georgia";
}
.expired_img {
  position: absolute;
  top: 20%;
  width: 1300px;
  /* height: 200px; */
}
.expired_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main_container {
  /* border: 1px double red; */
  width: 100%;
  border-style: double;
  border-color: #ccc;
  padding-bottom: 10px;
}
.box {
  margin-top: 10px;
  width: 100%;
  /* border: 1px solid red; */
  /* height: 10px; */
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
}
.label {
  color: #008000;
  font-family: "Helvetica" !important;
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  text-align: right;
  /* border: 1px solid green; */
}
.value {
  width: 50%;
  font-family: "Helvetica" !important;
  font-size: 14px;
  font-weight: bold;
  /* margin-top: 15px; */
  color: #333333;
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .box {
    display: flex;
  }
  .label {
    text-align: right;
   
  }
  .value{
    margin-top: 0px;
  }
  .expired_img {
    width: 100%;
  }
}
